<!DOCTYPE html>
<html>

<head>
  <title>Consulta de empleados</title>
  <link rel="stylesheet" href="/consult.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<header>
  <%- include('navbar') %>
</header>

<body>
  <div class="container">
    <h1>Consulta de empleados</h1>

    <!-- Aquí se generarán dinámicamente los datos de los empleados -->
    <% empleados.forEach(function(empleado) { %>
    <div class="employee" data-id="<%= empleado.id %>">
      <div>
        <img src="/uploads/<%= empleado.imageName %>" alt="Profile Image" class="employee-image">
      </div>
      <div class="employee-details">
        <h2>
          <%= empleado.apellido_nombre %>
        </h2>
        <p>ID de empleados: <%= empleado.employeeID %>
        </p>
        <p>Legajo que reporta: <%= empleado.legajo_reporta %>
        </p>
        <p>Dirección: <%= empleado.direccion %>
        </p>
        <p>Gerencia/Área: <%= empleado.gerencia_area %>
        </p>
        <p>Gerencia: <%= empleado.gerencia %>
        </p>
        <p>Puesto: <%= empleado.puesto %>
        </p>
        <p>Sucursal: <%= empleado.sucursal %>
        </p>
      </div>
      <div class="employee-icons">

        <a href="#" class="delete-employee" data-id="<%= empleado.id %>" data-method="DELETE">
          <i class="fas fa-trash"></i>
        </a>
        
        
        <a href="/editar-empleado?id=<%= empleado.id %>">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </div>
      
    </div>
    <% }) %>

  </div>
  <script>
$(document).ready(function() {
  $('.delete-employee').click(function(event) {
    event.preventDefault(); // Evita que el enlace se comporte como un enlace normal

    var employeeId = $(this).data('id');
    var method = $(this).data('method');

    if (confirm('¿Estás seguro de que quieres eliminar este registro?')) {
      $.ajax({
        url: '/eliminar/' + employeeId,
        method: method,
        success: function(response) {
          location.reload();
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    }
  });
});

  </script>
  
</body>

</html>
