<!DOCTYPE html>
<html>

<head>
  <title>Consulta de empleados</title>
  <link rel="stylesheet" href="/consult.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.fa-trash').click(function() {
        var employeeId = $(this).closest('.employee').data('id');
        if (confirm('¿Estás seguro de que quieres eliminar este registro?')) {
          $.ajax({
            url: '/eliminar/' + employeeId,
            method: 'GET',
            success: function(response) {
              location.reload();
            },
            error: function(xhr, status, error) {
              console.error(error);
            }
          });
        }
      });
    });
    function editEmpleado(id) {
      // Redirigir a la URL con el ID del empleado como parámetro
      window.location.href = `/editar-empleado?id=${id}`;
    }
  </script>
</head>

<header>
  <% include('navbar') %>
</header>

<body>
  <div class="container">
    <h1>Edicion de empleados</h1>

    <!-- Aquí se generarán dinámicamente los datos de los empleados -->
    <% empleado.forEach(function(empleado) { %>
    <div class="employee" data-id="<%= empleado.id %>">
      <div>
        <img src="/uploads/<%= empleado.imageName %>" alt="Profile Image" class="employee-image">
      </div>
      <div class="employee-details">
        <h2><%= empleado.apellido_nombre %></h2>
        <p>ID de empleados: <%= empleado.employeeID %></p>
        <p>Legajo que reporta: <%= empleado.legajo_reporta %></p>
        <p>Dirección: <%= empleado.direccion %></p>
        <p>Gerencia/Área: <%= empleado.gerencia_area %></p>
        <p>Gerencia: <%= empleado.gerencia %></p>
        <p>Puesto: <%= empleado.puesto %></p>
        <p>Sucursal: <%= empleado.sucursal %></p>
      </div>
      <div class="employee-icons">
        <i class="fas fa-trash"></i>
        <a href="#" onclick="editEmpleado(<%= empleado.id %>)"><i class="fas fa-pencil-alt"></i></a>
      </div>
      
    </div>
    <% }) %>
  </div>
</body>

</html>
